<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/exercise.css" />
    
</head>
<body>
<script>
    function post(json) {
        Object.entries(json).forEach(e => {
            var [name, value] = e;
            var input = document.querySelector(`input[type="hidden"][name="${name}"]`);
            input.value = value;
        });
        document.querySelector("form").submit();
        return false;
    }
</script>
<header>
    <h1>@ViewData["Title"]</h1>
</header>
<main>
    @RenderBody()
</main>
</body>
</html>